<!DOCTYPE html>
<html lang="Pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/static/src/styles/lading.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header class ="header" >
        <a href="#" class="logo">Página Principal</a>
        <i class='bx bx-menu' id = "menu-icon"> </i>
        <nav class="navbar">
            <a href="#home" class="active"> Home </a>
            <a href="#projeto"> Projeto </a>
            <a href="#grupo"> Grupo</a>
            <a href="#referencias"> Referências </a>
        </nav>
    </header>   

<section class="Home" id="home">
    <div class="home-content">
        <h3>Olá, sejam bem vindos!</h3>
        <h1>Desenvolvimento Web com <br> <span> HTML, CSS E JavaScript</span></h1>
        <div class="home-img">
            <img src="/static/src/img/Image 1 (1).svg" alt="">
        </div>
        <h3>Grupo: <span class="multiple-text"> </span></h3>
        <p>Nosso projeto se trata de um site para auxiliar na vendas de espetinhos e adicionais, trazendo uma identidade visual única
         totalmente responsiva, como também um sistema de gestão de clientes, com a possibilidade de adicionar editar e remover clientes, trazendo a oportunidade de fazer uma melhor gestão acerca dos seus clientes, contribuindo não só para uma melhor administração e divulgação do espetinho, mas também para nossa jornada de aprendizado acadêmica! </p>
    </div>
    <div>  
        <a href="https://github.com/jefteralex1/Binu-s-spetus/" class="btn" target="_blank">Projeto</a>
    </div>

</section>


<section class="projeto" id="projeto">

    <div class="projeto-img">
        <img src="/static/src/img/Projeto.png" alt="">
    </div>
    
    <div class="projeto-content">
        <h2 class="heading"> Sobre o Projeto </h2>
        <h3> Binu's <span class="spetus"> Spetus </span></h3>
        <p> Binu's Spetus surgiu com o objetivo de revolucionar o mundo dos espetinhos, buscando um diferencial extraordinário no mundo das carnes, matando bois australianos e vacas alemãs
            ele vem cada vez mais forte para inovar o seu churrasco, não aceite outro apenas deguste, Binus Spetus!
        </p>
         <a href="/bino" class="btn"> Confira</a>
    </div>

</section>

<section class="grupo" id="grupo">
    <h2 class="heading"> Integrantes <span> </span> </h2>

    <div class="grupo-container">
        <div class="grupo-contatos"> 
            <i class='bx bxl-dev-to'></i>
            <h3> Álvaro Elias</h3>
            <p> Acadêmico de Sistemas de Informação pela UniFBV, cursando o seu terceiro período. </p>
            <a href="" class="btn"> Contato</a>
        </div>
    

    <div class="grupo-contatos"> 
        <i class='bx bxl-dev-to'></i>
        <h3> Agostinho Henrique</h3>
        <p> Acadêmico de Ciência da Computação pela UniFBV, cursando o seu sétimo período. </p>
        <a href="Contatos/ContatoAlvaro.url" class="btn"> Contato</a>
    </div>

    <div class="grupo-contatos"> 
        <i class='bx bxl-dev-to'></i>
        <h3>Jefter Alexandre</h3>
        <p> Acadêmico de Ciência da Computação pela UniFBV, cursando o seu terceiro período.
        </p>
        <a href="Contatos/ContatoAlvaro.url" class="btn"> Contato</a>
    </div>
</div>
</section>

<section class="referencias" id="referencias">

    <div class="referencias-img">
        <img src="/static/src/img/códigolimpo-removebg-preview.png" alt="">
    </div>
    
    <div class="refencias-content">
        <h2 class="relading"> Referências </h2>
        <h3> Livro: <span class="spetus"> Clean Code </span></h3>
        <p> Clean Code ou código limpo se refere a um conjunto de boas práticas na escrita de software que você pode aplicar para obter uma maior legibilidade
             e manutenabilidade do seu código.
        </p>
    </div>

</section>


    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script src="/static/src/script/lading.js"> </script>
</body>
</html>